.git
.venv-mcp
**/target
**/__pycache__
**/*.pyc
agent/restfuldoom_agent/generated
trajectories
autom4te.cache
**/autom4te.cache
Makefile
**/Makefile
Makefile.in
**/Makefile.in
.deps
**/.deps
.libs
**/.libs
*.o
**/*.o
*.a
**/*.a
*.lo
**/*.lo
*.la
**/*.la
aclocal.m4
configure
config.h
config.log
config.status
stamp-h1
*.wad
*.WAD
*.lmp
src/restful-doom
src/restful-doom-setup
